form {
  width: 45vw;
  justify-self: center;
}

.close {
  background-color: transparent;
  font-size: 1rem;
  padding-left: .5rem;
  padding-right: .5rem;
  color: #ff006a;
  border: #ff006a solid 1px;
  border-radius: 50px;
  margin-right: 20vw;
  float: right;
}
.close:hover {
  background-color: #e0a1a1;
}
