@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  justify-content: center;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  margin: 0;
}

html {
  background-color: #632020;
  width: 100vw;
  margin: 0;
}

.main {
  display: flex;
  flex-direction: column;
  background-color: #632020;
  font-family: 'Syne', sans-serif;
  font-weight: 500;
  width: 100vw;
  align-self: center;
}

.about {
  height: 70vh;
}

.left {
  width: 45vw;
  float: left;
}

.h1 {
  position: sticky;
  margin-top: 10px;
  margin-left: 15px;
  /* font-family: 'Noto Sans', sans-serif; */
  font-family: 'Syne', sans-serif;
  font-weight: 500;
  font-size: 5rem;
  letter-spacing: 2px;
  color:#ff006a;
  z-index: 5;
}

.h2 {
  /* font-family: 'Noto Sans', sans-serif; */
  font-family: 'Syne', sans-serif;
  font-weight: 500;
  font-size: 4vw;
  color: #ff006a;
  width: 60vw;
}

.h2Decorated {
  /* position: absolute; */
  /* right: 5vw; */
  font-family: 'Syne', sans-serif;
  font-weight: 500;
  font-size: 9rem;
  padding-left: 3vw;
  padding-right: 3vw;
  color: #e0a1a1;
  /* transform: translate(45, 0), rotate(-12deg); */
}

.hero {
  position: absolute;
  top: 0;
  padding-top: 12vh;
  width: 60vw;
  margin-left: 15px;
  padding-bottom: 2vh !important;
  z-index: 5;
}

.subtitle {
  position: relative;
  width: 50vw !important;
  font-size: 3vw !important;
  z-index: 5;
}

.hero h2, .hero h3 {
  color: #ff006a !important;
}

.h3 {
  font-family: 'Syne', sans-serif;
  font-weight: 500;
  font-size: 3rem;
  color: #ff006a;
  width: 60vw;
}
.wavy {
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: #e0a1a1;
  /* color: #e0a1a1; */
}

.wavy a {
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: #e0a1a1;
}

.githubLink:hover {
  color:#e0a1a1
}

.vertical {
  border-left: 6px solid #ff006a;
  height: 80%;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 10%;
}

.animationContainer {
  position: absolute;
  top: 20vh;
  left: 20%;
  /* padding-top: 12vh; */
  height: 75vh;
  width: 80vw;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #ff006a;
  border: none;
}

.fadeIn {
  opacity: 0;
  transform: translate(0, 20px); transition: all 3s;
}

.fadeInLeft {
  opacity: 0;
  transform: translate(45px, 0); transition: all 3s;
}

.fadeInRight {
  opacity: 0;
  transform: translate(-45px, 0); transition: all 3s;
}

.visible {
opacity: 1;
transform: translate(0, 0); transition: all 3s;
}

ul {
  /* font-family: 'Noto Sans', sans-serif; */
  font-family: 'Syne', sans-serif;
  font-weight: 500;
  font-size: 4vw;
  color: #ff006a;
  width: 60vw;
  list-style-type: none;
  margin-top: 20vh;
  list-style: none;
}

ul li {
  margin-bottom: 1rem;
  font-size: 4vw;
}

li a {
  text-decoration: none;
}

li:hover{
  letter-spacing: 0.2rem;
  width: fit-content;
  color: #632020;
  background-color: #ff006a;
  padding-left: 2rem;
  padding-right: 2rem;
}

section li:hover {
  transform: translate(10px, 0); transition: all 1s;
}

svg {
  /* width: 100%;
  height: 100%; */
  /* transform: scale(0.8); */
  max-width: 8vw;
  overflow: visible;
  opacity: 92%;
  mix-blend-mode: luminosity;
}

.work {
  position: absolute;
  top: 100vh;
  width: 100vw;
  align-content: center;
}

.projectItem {
  width: 100vw;
  overflow-y: scroll;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-content: center;
}

.card {
  position: sticky;
  top: 1em;
  padding: 1.5em;
  width: 50vw;
  height: fit-content;
  background-color: #e0a1a1;
  border-radius: 1em;
  text-align: center;
  align-self: center;
}

.card img {
  margin: 0;
  padding: 0;
  width: 100%;
  border-radius: 1em;
  mix-blend-mode: luminosity;
  filter: blur(15px);
}

.card img:hover {
  margin: 0;
  padding: 0;
  width: 100%;
  border-radius: 1em;
  mix-blend-mode: normal;
  filter: blur(0px);
}

.card a {
  color: #e0a1a1 !important;
  text-decoration: none;
  font-size: 8vw;
  font-weight: bolder;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.opensourceContainer {
  margin-left: 15px;
  margin-top: 3vh;
  display: grid;
  grid-row: 1;
}

.opensourceContainer ul {
  margin-top: 1em;
}

.play {
  position: absolute;
  display: flex;
  top: 500vh;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(#e0a1a1 70%, #ff006a);
  align-self: center;
  justify-content: center;
  padding: 3rem;

}

.play ul {
  color: #632020;
  align-self: center;
}

.play h3, .play h4, .play h5, .play p {
  font-family: 'Syne', sans-serif;
  font-weight: 500;
  color: #632020;
  align-self: center;
}

.play h3 {
  font-size: 7rem;
}

.play h4 {
  font-size: 2.3rem;
}

.play p {
  font-size: 1.7rem;
}

.play h5 {
  font-size: 1.5rem;
}

.moreContainer {
  display: block;
  width: 55vw;
  padding-bottom: 6rem;
}

.blog {
  position: absolute;
  top: 600vh;
}

.seeMoreBlog {
  font-size: 4rem;
  color: #ff006a !important;
  float: right;
}

.seeMoreBlog:hover {
  color: #e0a1a1 !important;
}


.contact {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 700vh;
  height: 80vh;
  width: 100vw;
  padding-top: 8rem;
}

.contact h2 {
  align-self: center;
}

.contact h3 {
  font-size: 8rem;
  color:#e0a1a1;
  text-align: center;
}

.contact h4 {
  font-size: 1.2rem;
  color:#e0a1a1;
  text-align: center;
}

.contactOptions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-self: center;
}

.contactOptions a {
  font-size: 1.7rem;
  padding: 2em;
}

.contactOptions h4:hover {
  color: #ff006a;
}

.email:hover {
  cursor: pointer;
}

.modal {
  display:grid;
  background-color: #ff006a;
  color: #e0a1a1;
}

.modal label {
  font-family: 'Syne', sans-serif;
  font-weight: 500;
}

.terminal {
  z-index: 6;
}

@media only screen and (max-width: 800px) {
  .h2 {
    /* font-family: 'Noto Sans', sans-serif; */
    font-family: 'Syne', sans-serif;
    font-weight: 500;
    font-size: 10vw;
    color: #ff006a;
    width: 100vw;
  }

  .h3 {
    font-family: 'Syne', sans-serif;
    font-weight: 500;
    font-size: 8vw;
    color: #ff006a;
    width: 80vw;
  }

  .blogTitle {
    font-size: 10vw;
    width: 80vw;
  }

  .seeMoreBlog {
    font-size: 12vw;
    color: #ff006a !important;
    float: right;
  }

  ul {
    /* font-family: 'Noto Sans', sans-serif; */
    font-family: 'Syne', sans-serif;
    font-weight: 500;
    font-size: 4vw;
    color: #ff006a;
    width: 60vw;
    list-style-type: none;
    margin-top: 3vh;
    list-style: none;
  }

  ul li {
    font-size: 6vw;
  }

  li:hover{
    letter-spacing: 0.1rem;
    width: fit-content;
    color: #632020;
    background-color: #ff006a;
    padding-left: 3vw;
    padding-right: 3vw;
  }

  section li:hover {
    transform: translate(10px, 0); transition: all 1s;
  }

  .hero {
    position: absolute;
    top: 0;
    padding-top: 40vh;
    width: 80vw;
    padding-bottom: 5rem !important;
    z-index: 5;
  }

  .subtitle {
    padding-top: 2rem;
    position: relative;
    width: 80vw !important;
    z-index: 5;
  }

  .animationContainer {
    position: absolute;
    top: 30vh;
    height: 80vh;
    width: 100vw;
  }

  .work {
    position: absolute;
    top: 110vh;
    width: 100vw;
    align-content: center;
  }

  .card {
    position: sticky;
    top: 1em;
    padding: .1em;
    width: 50vw;
    height: fit-content;
    background-color: #e0a1a1;
    border-radius: 1em;
    text-align: center;
    align-self: center;
  }

  .card img {
    margin: 0;
    padding: 0;
    width: 100%;
    border-radius: 1em;
    mix-blend-mode: luminosity;
    filter: blur(5px);
  }

  .play {
    position: absolute;
    display: flex;
    top: 230vh;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(#e0a1a1 70%, #ff006a);
    align-self: center;
    justify-content: center;
    padding: 3rem;
  }

  .blog {
    position: absolute;
    top: 350vh;
  }

  .contact {
    position: absolute;
    top: 400vh;
    width: 100vw;
    align-self: center;
  }

  .contactOptions {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-self: center;
    align-self: center;
  }

  .contactOptions a {
    font-size: 3vh;
    /* padding: 2vh; */
  }

  .contact h2 {
    font-size: 20vh;
    align-self: center;
  }

  .contact h3 {
    font-size: 10vh;
    color:#e0a1a1;
    text-align: center;
  }

  .contact h4 {
    font-size: 3vh;
    color:#e0a1a1;
    text-align: center;
  }
  .terminal {
    width: 100vw;
  }
}

@media only screen and (max-width: 300px) {
  .subtitle {
    padding-top: 1rem;
    position: absolute;
    top: 35rem;
    width: 80vw !important;
    font-size: 9vw !important;
    z-index: 5;
  }
}
