@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital@0;1&display=swap');

.terminalOuterContainer {
  position: fixed;
  display: block;
  bottom: 20px;
  width: 65%;
  outline: 1px solid #ff006a;
  padding: 8px;
  height: 12vh;
  /* border-radius: 15px; */
  overflow: hidden;
  z-index: 5;
  backdrop-filter: blur(10px);
}

.terminalContainer {
  height: 90%;
  font-family: 'Space Mono', monospace;
  font-size: 1.05rem;
  color: #ff006a;
  overflow-y: auto;
}

.terminalContainer::-webkit-scrollbar {
  border-radius: 15px;
  width: 8px;
}

.terminalContainer::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #ff006a;
}

.terminalContainer::-webkit-scrollbar-thumb {
  background-color: #ff006a;
  outline: 1px solid #ff006a;
  border-radius: 15px;
}

a {
  margin-left: 40px;
  color: inherit !important ;
}

a:hover {
  color: inherit !important ;
}
